.formulaire {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: thick double navajowhite;
    margin: auto;
    width: 75%;
    height: 50vh;
  }
  h1 {
    color: #fdd365;
  }
  .input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  label {
    color: red;
  }
}
