.header{
font-family: 'Lora', serif;
display: flex;
justify-content: space-evenly;
flex-direction: row;
align-content: center;
color:#faa430;
img{
	width: 80%;
	height: auto;
}
.title{
  margin-top: 10%;
  margin-right: 30%;
}
}
