.month {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    a {
      color: white;
    }

    a.active,
    a:hover {
      border-bottom: 1px solid #f14b31;
      font-weight: bold;
      li {
        font-size: 1.6em;
      }
    }
  }
}
